<app-header></app-header>
<router-outlet></router-outlet>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-body">
                    <h2 class="card-title text-center">Desarrollado por:</h2>
                    <div class="card-text text-center">
                        <img src="assets/images/axel.jpeg" alt="Foto de Axel Giovanni Ojeda Hernandez" class="img-fluid rounded-circle mb-3" style="max-width: 150px;">
                            <h5>Nombre: Axel Giovanni Ojeda Hernandez</h5>
                            <h5>Correo: aojedah1800&#64;alumno.ipn.mx</h5>
                            <h5>grupo: 6CM4</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
